body {
    font-family: Arial;
    padding-top: 100px;
     
}
.card-inner{
    margin-left: 4rem;
}
.blert{
    margin: 25px 50px 75px 100px;

}
.navbar{
    margin:0;
      width: 100%;
     position: absolute;
     top: 0;
}
footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #ffffff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
   
    border: 1px solid #ddd;
    margin:20px;
}

.product-description {
    min-height: 40px;
}

.card-image{
  padding: 50px;
}

.img-fluid{
  max-width: 100%;
}
.panel-body{
    margin:0 auto;
    text-align: 100px;
    
}
.toner{
    color: black;
}
.off{
    color:red;
}
.nutton{
    color:white;
}
/*---------------------------front page image-------------------------------*/

.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  background-color: red;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  outline: black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: rgb(247, 241, 241);
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}