{% extends 'base.html' %}
{% block content %}
<h1>About Urban Clothings</h1>
<p>This is a clothing line website which has to offect amazing styled clothing in very good meterial.</p>
<h6> The name</h6>
<p>The reason i came up with the name Urban Clothings is because all the products i sell is aimed for the newer generation,
ialso do belive the name would attract the newer generation because it is a simple name</P>
<h6>From me to you</h6>
I would like to start of by saying thank you for making time to come and view my website and i do hope you have found what
you was looking for and i ask you to please come back in  the future as we are aiming to bring brand new merch</p>
{% endfor %}

{% endblock %}